/* base
----------------------------------------------- */

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	color: #013161;
	background-color: #F0F2F6;
       line-height: 1.5;
}

blockquote, h3, p, li {
	padding-right: 10px;
	padding-left: 0;
	font-size: 1.25rem;
	line-height: 1.5;
}

blockquote {
	margin-right: 0;
	margin-left: 20px;
}

h1, h2, h3 {
	margin: 0 0 15px 0;
	padding: 0;
	font-weight: normal;
        color:#013161;
}

#header h1 a{
        color:#fff;
        letter-spacing: 1px;
        font-weight: bold;
        text-decoration: none;
}

h2 {
	font-size: 1em;
        margin-top:1em;
}

h1 {
        font-size: 1.6em;
        font-weight: bold;
        border-bottom:0px solid #ddd;
}

h1.entry-title {
        clear: right;
        padding: 1em 0 .5em 0;
        margin-bottom: 0;
        line-height: 1.3;
}
h1.entry-title:first-child {
  padding-top: 0;
}
.entry-content {
        overflow:hidden;
        border-bottom:1px solid #ddd;
        padding-bottom:1em;
}
body#front .sticky {
        background-color:#E8EEFA;
        border:1px solid #ccc;
        padding:0 1em;
        margin:1.5em 8px 2em 0;
}
body#front .sticky .entry-content {border-bottom:0;}

hr {
	margin: 1.5em auto;
	width: 100%;
	height: 1px;
	color: #ddd;
	background-color: #ddd;
	border: none;
}

small, .small {
	font-size: 0.9em;
}

/* links
----------------------------------------------- */

a {
	text-decoration: underline;
	color: #0A55A3;
}
a:hover {
        color:#FF6D06;
        border-color:#FF6D06;
}

a img {
	border: none;
}

h1 a, h2 a, h3 a {
	border: none;
}

#site-name a {
	border: none;
}

#sidebar-2 a, #sidebar-1 a {
	color: #FF6D06;
	border: none;
}

/* layout
----------------------------------------------- */

#accessibility {
	position: absolute;
	top: -10000px;
}

#wrap {
	margin: 0 auto 10px auto;
	padding: 10px 10px 2em 10px;
        min-width: 760px;
	max-width: 960px;
        position:relative;
        border:1px solid #ccc;
        border-top:0;
        background:#fff;
        overflow:hidden;
}

#header {
	background:#FF6D06;
        color:#fff;
        padding:1em 0;
        position:relative;
}

#head_wrap {
background-color:transparent;
margin:0 auto;
padding: 0;
border:0;
        min-width: 760px;
	max-width: 960px;
        position:relative;
}
#site-name {
	margin: 15px 0;
	font: 3em Arial, sans-serif;
        border-color:#fff;
}

#site-slogan {
	font: 1.5em Arial, sans-serif;
}

#sidebar-1, #sidebar-2 {
	padding-top: 2em;
	width: 250px;
}

#sidebar-1 {
	float: left;
	text-align: left;
}

p#tagcloud {
        width:190px;
        padding:0;
}

#sidebar-2 {
	margin-left: 5px;
	float: right;
}

.section_list {
	margin: 0 0 10px 0;
	padding: 0;
	list-style-type: none;
}

.section_list ul {
	list-style-type: none;
}

.section_list li {
	margin: 0 10px 2px 0;
	padding: 0;
}

ul#top {
        list-style:none;
        margin:0;
        padding:0;
        width:100%;
        text-align:right;
}
ul#top li {
        display:inline;
        color:#fff;
        padding-right:10px;
        border-right:1px solid;
}
ul#top li.last {
        border:0;
        margin:0;
        padding:0;
}

ul#top li a {
        text-decoration:none;
        color:#fff;
        font-weight:bold;
        border-bottom:0;
}
ul#top li a:visited, ul#top li a:active {
        color:#fff;
}
ul#top li a:hover, ul#top li a.active_class {
        color:#013161;
}
ul#sub, ul#lang {
        list-style:none;
        margin:0;
        padding:0;
        width:200px;
}
ul#sub li, ul#lang li {
        background:#2B8CEF;
        margin-bottom:.5em;
        -moz-box-shadow: 2px 2px 2px #ddd;
        -webkit-box-shadow: 2px 2px 2px #ddd;
        box-shadow: 2px 2px 2px #ddd;
}
ul#sub li.active, ul#lang li.active {
        background:#FF6D06;
}
ul#sub li a, ul#sub li a:visited, ul#sub li a:active, ul#lang li a, ul#lang li a:visited, ul#lang li a:active{
        color:#fff;
        font-weight:bold;
        padding:.5em .5em .5em 1.5em;
        display:block;
        text-decoration:none;
}
ul#sub li a:hover, ul#lang li a:hover {
        background: #FF6D06;
}
ul#lang {margin-top:60px;}
#content {
	margin: .5em 3em 0 0;
        overflow:hidden;
        min-height:570px;
	width:100%;
        min-width:460px;
        max-width:660px;
        float:left;
}

/* Suche */
.search {
    position: absolute;
    right: 0;
    top: 1em;
}
.hfeed {
  margin-top: 1.5em;
}
.hfeed h3 {
    font-size: 1.3em;
    font-weight: bold;
}

input[type="submit"] {
    background: transparent;
    color: #fff;
    border-color: #fff;

    border: 2px solid;
    margin-left: .5em;
    border-radius: 0px;
}

input[type="submit"]:hover {
  color: #013161;
  border-color: #013161;
  cursor: pointer;
}

input[type="text"] {
    border: 0;
    padding: 3px;
}

/* overrides
----------------------------------------------- */

#sidebar-2 p, #sidebar-1 p {
	font-size: 0.8em;
	line-height: 1.5em;
}

.caps {
	font-size: 0.9em;
	letter-spacing: 0.1em;
}

div.divider {
	margin: 2em 0;
	text-align: center;
}

/* articles
----------------------------------------------- */

.directory {
	list-style-type: circle;
}

.author {
	font-style: normal;
	font-size: 0.9em;
}

.published {
	font-size: 0.9em;
}

.img {
        float:right;
        margin: 1em 0 1em 1em;
        padding:0 5px 5px 0;
}
.img img {
        /*-moz-box-shadow: 3px 3px 3px #666;
        -webkit-box-shadow: 3px 3px 3px #666;
        box-shadow: 3px 3px 3px #666;*/
        border:1px solid #ccc;
}
.pagination {
	 clear:both;
	 text-align:center;
}
.pagination a {
	padding:20px 20px 20px 0;
	font-weight:bold;
	text-decoration:none;
}

/* comments
----------------------------------------------- */

.comments_error {
	color: #000;
	background-color: #fff4f4;
}

ul.comments_error {
	padding : 0.3em;
	list-style-type: circle;
	list-style-position: inside;
	border: 2px solid #fdd;
}

div#cpreview {
	color: #000;
	background-color: #f1f1f1;
	border: 2px solid #ddd;
}

form#txpCommentInputForm td {
	vertical-align: top;
}

#comments-help {
	margin: 2px 0 15px 0;
	font-size: 0.7em;
}

/* error page
----------------------------------------------- */

.error-status {
	font: 1.3em Georgia, Times, serif;
}
/* Iconize 0.5 */
/* extensions */

a[href$='.doc'], a[href$='.rtf'] {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icons/icon_doc.gif) no-repeat center right;
}

a[href$='.pdf'] {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icons/icon_pdf.gif) right center no-repeat;
}

/* email */
a[href ^="mailto:"] {
	padding: 5px 20px 5px 0;
    background: transparent url(../images/icons/icon_mailto.gif) no-repeat center right;
}

/* use this class to make sure that images won't get iconized */

.imageLink {
	padding-right: 0px !important;
	background: none !important;
}

.menu label.menu-toggle, .mobilesearch {
  display: none;
}

@media screen and (max-width:799px) {
  * {
    margin: 0;
    padding:0;
  }
  html,
  body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow-x: hidden;

     word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  #header, #wrap, #head_wrap {
    float: none;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  #head_wrap {
    position: static;
  }
  .search {
    position: static;
    text-align: center;
  }
  .search input[type=text],
  .search input[type=submit] {
    font-size: 1.5em;
    padding: 0 .5em;
  }
  h1#site-name {
    margin: 0 1.5em 0 .5em;
    font-size: 2.5em;
  }
  ul#top {
    text-align: left;
    margin: 0 0 0 1em;
  }
ul#top li a {
  padding: 1em .25em;
  display: inline-block;
}
  #wrap {
    padding: 0;
    position: static;
  }
  #content {
    float: none;
    min-width: 100%;
    max-width: 100%;
    margin: 1em;
    padding:0;
  }
  .entry-title,
  .entry-content {
    max-width: 90%;
     word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
  }
  .img {
    float: none;
    margin: 0;
    padding: 0;
  }
  /*.menu {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 240px;
    height: 100%;
    transform: translate3d(-240px, 0, 0);
    transition: transform 0.35s;
  }
  .menu label.menu-toggle {
    position: absolute;
    right: -60px;
    width: 60px;
    height: 60px;
    line-height: 0px;
    display: block;
    padding: 0;
    text-indent: -9999px;
    background: #fff url(https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png) 50% 50%/25px 25px no-repeat;
  }*/
  .menu label.menu-toggle, .search {
  display: none;
  }
  .mobilesearch {
    display: block;
    background: #FF6D06;
    text-align: center;
    padding: 1em;
  }
  .mobilesearch input[type=text] {
    width: 200px;
    font-size: 1em;
  }
  .mobilesearch input[type=submit] {
    width: 100px;
    font-size: 1em;
  }
  #sidebar-1 {
    /*background: #FF6D06;*/
    float: none;
    /*min-width: 799px;*/
    width: 100%;
    padding:0;
  }
  ul#sub, ul#lang {
    width: 100%;
    text-align: center;
  }
  ul#sub li a, ul#lang li a {
    padding-left: .5em;
  }
  .nav-toggle {
    /*display: inline-block;
    position: absolute;
    top: 1.25em;
    right:.5em;
    padding: 1.25em;
    color: #fff !important;
    text-decoration: none;
    line-height: 1;
    font-size: 1.5em;*/

    display: block;
    margin: 0 auto;
    height: 6px;
    width: 2em;
    border-top: 18px double #FFF;
    border-bottom: 6px solid #FFF;
    text-indent: -999em;
  }
  .nav-toggle:before {
  content: "";
  position: absolute;
  right: .5em;
  top: 1.2em;
  /*width: 1em;
  height: 0.15em;
  background: #fff;
  box-shadow:
    0 0.25em 0 0 #fff,
    0 0.5em 0 0 #fff;
    margin-top: -.15em;*/

    display: block;
    margin: 0 auto;
    height: 0.125em;
    width: 1em;
    height: 1em;
    background: url(../images/burger.svg) top left no-repeat;
    text-indent: -999em;
    font-size: 1.5em;
  }
  .js #sidebar-1 .nav-collapse-0.opened {
    max-height: 525px !important;
}
}
.shariff a[href ^="mailto:"] {
    padding: 0.45em;
    background: none;
}
@media only screen and (min-width: 1024px) {
.shariff li, .shariff li a {
    height: auto;
    padding: 0.45em;
    min-width: 120px;
  }
}
