.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
awstats-icon
awstatsicon
PDF/*.LCK
HISTORY.txt
README.txt
